In [1]:
import pandas as pd

### 주가 데이터

Question 64

데이터를 로드하고 각 열의 데이터 타입을 파악하라

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

Question 65

Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라

In [3]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

Question 66 (V)

Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라

In [4]:
# 정답
Ans = df.Yr_Mo_Dy.dt.year.unique()

In [11]:
# 틀림..
df.Yr_Mo_Dy.y.unique()

AttributeError: 'Series' object has no attribute 'y'

Question 67 (V)

Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라

In [13]:
df.Yr_Mo_Dy.dt.year

0       2061
1       2061
2       2061
3       2061
4       2061
        ...
6569    1978
6570    1978
6571    1978
6572    1978
6573    1978
Name: Yr_Mo_Dy, Length: 6574, dtype: int32

In [14]:
# 틀림..
def trans(x):
    if x.dt.year >= 2061:
       return  x.dt.year - 100

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(trans)

AttributeError: 'Timestamp' object has no attribute 'dt'

In [ ]:
# 정답
def fix_century(x):
    import datetime
    
    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

Ans = df.head(4)

Question 68

년도별 각컬럼의 평균값을 구하여라

In [17]:
df.groupby(df.Yr_Mo_Dy.dt.year).mean()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1971,1971-07-02 00:00:00,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,1972-07-01 12:00:00,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,1973-07-02 00:00:00,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,1974-07-02 00:00:00,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,1975-07-02 00:00:00,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,1976-07-01 12:00:00,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,1977-07-02 00:00:00,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,1978-07-02 00:00:00,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
2061,2061-07-02 00:00:00,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
2062,2062-07-02 00:00:00,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
2063,2063-07-02 00:00:00,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
2064,2064-07-01 12:00:00,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
2065,2065-07-02 00:00:00,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
2066,2066-07-02 00:00:00,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
2067,2067-07-02 00:00:00,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
2068,2068-07-01 12:00:00,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
2069,2069-07-02 00:00:00,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
2070,2070-07-02 00:00:00,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027

Question 69 (V)

weekday컬럼을 만들고 요일별로 매핑하라 ( 월요일: 0 ~ 일요일 :6)

In [18]:
df.Yr_Mo_Dy.dt.weekday

0       5
1       6
2       0
3       1
4       2
       ..
6569    2
6570    3
6571    4
6572    5
6573    6
Name: Yr_Mo_Dy, Length: 6574, dtype: int32

In [19]:
# 정답
df['weekday'] = df.Yr_Mo_Dy.dt.weekday

Ans = df['weekday'].head(3).to_frame()

Question 70

weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라

In [21]:
def WeekCheckFunction(x):
    if x >= 5:
        return 1
    else:
        return 0
    
df['WeekCheck'] = df['weekday'].apply(WeekCheckFunction)
df['WeekCheck'].value_counts()

WeekCheck
0    4694
1    1880
Name: count, dtype: int64

In [ ]:
# 정답
df['WeekCheck']  = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)

Ans = df['WeekCheck'].head(3).to_frame()

Question 71

년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라

In [7]:
df.groupby(df.Yr_Mo_Dy.dt.month).mean()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1,2025-02-04 22:40:00.000000000,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,2025-02-20 00:22:40.629921280,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,2025-04-05 04:00:00.000000000,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,2025-05-05 16:00:00.000000000,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,2025-06-05 04:00:00.000000000,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,2025-07-05 16:00:00.000000000,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,2025-08-05 04:00:00.000000000,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,2025-09-05 04:00:00.000000000,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,2025-10-05 16:00:00.000000000,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,2025-11-05 04:00:00.000000000,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,2025-12-05 16:00:00.000000000,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,2026-01-05 04:00:00.000000000,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

Question 72 (V)

모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라

In [ ]:
# 정답
df = df.fillna(method='ffill').fillna(method='bfill')

## front fill, back fill

Question 73

년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라

In [8]:
df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1971-01,1971-01-16 00:00:00,15.098065,13.398387,13.080000,6.364194,11.342258,7.759677,10.297419,8.350000,8.979355,8.666774,14.392581,16.360000
1971-02,1971-02-14 12:00:00,11.724643,9.757143,10.311786,5.242143,9.676786,5.492143,8.683929,7.075000,8.272857,7.833571,12.883929,15.863214
1971-03,1971-03-16 00:00:00,10.844839,8.243226,11.228387,5.629032,8.960000,5.486774,9.061935,6.700000,8.494516,7.758387,11.510000,15.678387
1971-04,1971-04-15 12:00:00,9.884333,6.848000,11.187667,4.891333,8.165000,5.319000,6.688000,5.856667,7.512667,6.051333,9.014000,12.301000
1971-05,1971-05-16 00:00:00,11.200645,8.883548,9.564839,4.888387,8.322903,5.423226,5.875806,7.230323,7.494839,7.122581,11.926129,13.107742
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070-08,2070-08-16 00:00:00,9.561613,8.389677,9.485161,4.765806,8.016774,5.660323,5.986774,5.536129,6.849677,6.336129,10.348065,11.870645
2070-09,2070-09-15 12:00:00,11.926667,12.082333,11.035333,6.509333,11.482000,7.693000,8.184000,7.921000,9.359667,8.430667,13.995333,15.865667
2070-10,2070-10-16 00:00:00,13.354839,11.937097,11.378710,6.665806,11.728387,8.450000,10.874839,10.113871,10.560645,9.052581,15.552903,19.790323
2070-11,2070-11-15 12:00:00,13.721667,11.998333,12.118667,6.504000,10.861000,8.169333,10.266000,8.232333,10.010333,8.312000,13.270667,17.852667
2070-12,2070-12-16 00:00:00,12.788710,9.659032,14.111935,5.684516,10.013548,6.186129,9.073871,6.961290,8.178387,7.634839,10.878065,17.411613

Question 74

RPT 컬럼의 값을 일자별 기준으로 1차차분하라

In [9]:
df['RPT'].diff()

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

Question 75 (V)

RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한값을 구하여라

In [10]:
# 정답
Ans= df[['RPT','VAL']].rolling(7).mean()

### 서울시 미세먼지 데이터

In [13]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (년-월-일:시)  1239 non-null   object
 1   PM10등급     1233 non-null   object
 2   PM10       1233 non-null   float64
 3   PM2.5등급    1232 non-null   object
 4   PM2.5      1232 non-null   float64
 5   오존등급       1232 non-null   object
 6   오존         1232 non-null   float64
 7   이산화질소등급    1232 non-null   object
 8   이산화질소      1232 non-null   float64
 9   일산화탄소등급    1232 non-null   object
 10  일산화탄소      1232 non-null   float64
 11  아황산가스등급    1232 non-null   object
 12  아황산가스      1232 non-null   float64
dtypes: float64(6), object(7)
memory usage: 126.0+ KB

In [14]:
df['(년-월-일:시)']

0       2021-05-15:15
1       2021-05-15:14
2       2021-05-15:13
3       2021-05-15:12
4       2021-05-15:11
            ...
1234    2021-03-25:05
1235    2021-03-25:04
1236    2021-03-25:03
1237    2021-03-25:02
1238    2021-03-25:01
Name: (년-월-일:시), Length: 1239, dtype: object

Question 76 (V)

년-월-일:시 컬럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 서울시의 제공데이터의 경우 0시가 24시로 표현된다

In [15]:
# 정답
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]
    
    if hour =='24':
        hour ='00:00:00'
        
        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)
        
    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)
    
    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)

Ans = df

In [16]:
Ans

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003
1235,2021-03-25 04:00:00,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002
1236,2021-03-25 03:00:00,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003
1237,2021-03-25 02:00:00,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003
1238,2021-03-25 01:00:00,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003

Question 77

일자별 영어요일 이름을 dayName 컬럼에 저장하라

In [19]:
df['dayName'] = df['(년-월-일:시)'].dt.day_name()
df

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
1235,2021-03-25 04:00:00,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002,Thursday
1236,2021-03-25 03:00:00,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
1237,2021-03-25 02:00:00,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003,Thursday
1238,2021-03-25 01:00:00,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003,Thursday

Question 78 (V)

일자별 각 PM10등급의 빈도수를 파악하라

In [22]:
df.groupby(['dayName', 'PM10등급'], as_index= False).size().pivot(index='dayName', columns='PM10등급', values='size').fillna(0)

PM10등급       나쁨  매우나쁨     보통    좋음
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

In [ ]:
# 정답
Ans1 = df.groupby(['dayName','PM10등급'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10등급',values='size').fillna(0)

In [17]:
# 오답
df['PM10등급'].groupby(df['(년-월-일:시)'].dt.day).value_counts()

(년-월-일:시)  PM10등급
1          보통        36
           좋음        11
2          좋음        24
           보통        24
3          보통        35
                     ..
30         보통        19
           좋음        12
           매우나쁨      10
           나쁨         6
31         보통        24
Name: count, Length: 80, dtype: int64

Question 79 (V)

시간이 연속적으로 존재하며 결측치가 없는지 확인하라

In [24]:
# 오답..
df.isna().sum()

(년-월-일:시)    0
PM10등급       6
PM10         6
PM2.5등급      7
PM2.5        7
오존등급         7
오존           7
이산화질소등급      7
이산화질소        7
일산화탄소등급      7
일산화탄소        7
아황산가스등급      7
아황산가스        7
dayName      0
dtype: int64

In [26]:
# 시간을 차분했을 경우 첫 값은 nan, 이후 모든 차분값이 동일하면 연속이라 판단한다.
check = len(df['(년-월-일:시)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False

Ans

True

Question 80 (V)

오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라

In [28]:
df['(년-월-일:시)'].dt.hour

0       15
1       14
2       13
3       12
4       11
        ..
1234     5
1235     4
1236     3
1237     2
1238     1
Name: (년-월-일:시), Length: 1239, dtype: int32

In [31]:
df

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
1235,2021-03-25 04:00:00,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002,Thursday
1236,2021-03-25 03:00:00,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
1237,2021-03-25 02:00:00,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003,Thursday
1238,2021-03-25 01:00:00,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003,Thursday

In [33]:
df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[2]]

TypeError: Could not convert 보통보통보통좋음좋음좋음매우나쁨매우나쁨보통보통좋음보통좋음좋음보통보통보통좋음보통좋음좋음좋음보통나쁨보통보통보통보통나쁨보통보통좋음좋음보통보통좋음보통보통보통좋음좋음좋음보통보통보통보통매우나쁨보통좋음나쁨나쁨 to numeric

Question 81

날짜 컬럼을 index로 만들어라

In [ ]:
df.set_index('(년-월-일:시)', inplace=True, drop=True)

In [38]:
df

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
(년-월-일:시),,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-25 05:00:00,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
2021-03-25 04:00:00,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002,Thursday
2021-03-25 03:00:00,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
2021-03-25 02:00:00,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003,Thursday
2021-03-25 01:00:00,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003,Thursday

Question 82 (V)

데이터를 주단위로 뽑아서 최소,최대 평균, 표준표차를 구하여라

In [44]:
Ans = df.resample('W').agg(['min','max','mean','std'])

TypeError: '<=' not supported between instances of 'str' and 'float'