In [1]:
import pandas as pd

### 국가별 5세 이하 사망비율 통계

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')
df

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]
...,...,...,...,...,...
29994,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Both sexes,96.97 [87.36-107.7]
29995,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Male,102.6 [92.14-114]
29996,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Female,91.04 [81.92-101.5]
29997,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Both sexes,102.5 [92.72-113.3]
29998,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Male,108.2 [97.57-120]

Question 83

Indicator을 삭제하고 First Tooltip 컬럼에서 신뢰구간에 해당하는 표현을 지워라

In [14]:
df.drop('Indicator', inplace=True, axis=1)
df['First Tooltip'] = df['First Tooltip'].map(lambda x : x.split('[')[0])

In [15]:
df

          Location  Period        Dim1 First Tooltip
0      Afghanistan    2019  Both sexes        60.27
1      Afghanistan    2019        Male        63.83
2      Afghanistan    2019      Female        56.57
3      Afghanistan    2018  Both sexes        62.54
4      Afghanistan    2018        Male        66.08
...            ...     ...         ...           ...
29994  Timor-Leste    2002  Both sexes        96.97
29995  Timor-Leste    2002        Male        102.6
29996  Timor-Leste    2002      Female        91.04
29997  Timor-Leste    2001  Both sexes        102.5
29998  Timor-Leste    2001        Male        108.2

[29999 rows x 4 columns]

Question 84

년도가 2015년 이상, Dim1이 Both sexes인 케이스만 추출하라

In [22]:
df2 = df[(df['Period'] >= 2015) & (df['Dim1'] == 'Both sexes')]
df2

          Location  Period        Dim1 First Tooltip
0      Afghanistan    2019  Both sexes        60.27
3      Afghanistan    2018  Both sexes        62.54
6      Afghanistan    2017  Both sexes        64.94
9      Afghanistan    2016  Both sexes        67.57
12     Afghanistan    2015  Both sexes        70.44
...            ...     ...         ...           ...
29943  Timor-Leste    2019  Both sexes        44.22
29946  Timor-Leste    2018  Both sexes        45.62
29949  Timor-Leste    2017  Both sexes        47.27
29952  Timor-Leste    2016  Both sexes        49.01
29955  Timor-Leste    2015  Both sexes        50.76

[860 rows x 4 columns]

Question 85

84번 문제에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터 프레임화 하라

In [23]:
df2.pivot(index='Location', columns='Period', values='First Tooltip')

Period,2015,2016,2017,2018,2019
Location,,,,,
Afghanistan,70.44,67.57,64.94,62.54,60.27
Albania,9.57,9.42,9.42,9.53,9.68
Algeria,25.18,24.79,24.32,23.81,23.26
Andorra,3.53,3.37,3.22,3.09,2.97
Angola,88.2,84.21,80.62,77.67,74.69
...,...,...,...,...,...
Syrian Arab Republic,23.18,23.27,22.97,22.11,21.53
Tajikistan,37.75,36.82,35.81,34.8,33.78
Thailand,10.8,10.32,9.86,9.42,9.01
The former Yugoslav Republic of Macedonia,12.97,11.97,9.94,7.83,6.12
Timor-Leste,50.76,49.01,47.27,45.62,44.22

Question 86 (v)

Dim1에 따른 년도별 사망비율의 평균을 구하라

In [ ]:
# 정답
Ans = df.pivot_table(index='Dim1',columns='Period',values='First Tooltip',aggfunc='mean')

In [29]:
# 오답
df.pivot(index='Dim1', columns='Period', values='First Tooltip', aggfunc = 'mean' )

TypeError: pivot() got an unexpected keyword argument 'aggfunc'

### 올림픽 메달리스트 정보 데이터

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

Question 87

데이터에서 한국 KOR 데이터만 추출하라

In [4]:
df2 = df[df['Country'] == 'KOR']
df2

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold
2673,1992,Albertville,Skating,Short Track Speed Skating,"MO, Ji-Soo",KOR,Men,5000M Relay,Gold
...,...,...,...,...,...,...,...,...,...
5528,2014,Sochi,Skating,Short Track Speed Skating,"PARK, Seung-Hi",KOR,Women,500M,Bronze
5544,2014,Sochi,Skating,Speed skating,"JOO, Hyong Jun",KOR,Men,Team Pursuit,Silver
5545,2014,Sochi,Skating,Speed skating,"KIM, Cheol Min",KOR,Men,Team Pursuit,Silver
5546,2014,Sochi,Skating,Speed skating,"LEE, Seung Hoon",KOR,Men,Team Pursuit,Silver
5565,2014,Sochi,Skating,Speed skating,"LEE, Sang Hwa",KOR,Women,500M,Gold

Question 88

한국 올림픽 메달리스트 데이터에서 년도에 따른 medal 갯수를 데이터프레임화 하라

In [7]:
df2.pivot_table(index='Year', columns='Medal', aggfunc='size')

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      NaN   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

In [ ]:
# 정답
Ans = kr.pivot_table(index='Year',columns='Medal',aggfunc='size').fillna(0)

Question 89

전체 데이터에서 sport종류에 따른 성별수를 구하여라

In [8]:
df.pivot_table(index='Sport', columns='Gender', aggfunc='size')

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

Question 90

전체 데이터에서 Discipline종류에 따른 따른 Medal수를 구하여라

In [9]:
df.pivot_table(index='Discipline', columns='Medal', aggfunc='size')

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197